{{ if false }}
<div class="flex justify-end">
  {{ with .Site.Params.social.twitter }}
  <a href="{{ . }}" class="f4 fw4 hover-white no-underline white-70 pv2 ph3">
    Twitter
  </a>
  {{ end }}
  {{ with .Site.Params.social.github }}
  <a href="{{ . }}" class="f4 fw4 hover-white no-underline white-70 pv2 ph3">
    GitHub
  </a>
  {{ end }}
  {{ with .Site.Params.social.linkedin }}
  <a href="{{ . }}" class="f4 fw4 hover-white no-underline white-70 pv2 ph3">
    LinkedIn
  </a>
  {{ end }}
</div>
{{ end }} 